*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 100px 0 0 0;
    padding: 0;
    background-color: #f8f9fa;
}

main{
    display: flex;
}

a{
    text-decoration: none;
    color: inherit;
}

.document-card h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.document-card p {
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;
    flex-grow: 1;
}

.arrow {
    position: absolute;
    bottom: 20px;
    left: 20px;
    font-size: 1.5em;
    color: #00bcd4;
}

.document-card-container {
    position: relative;
    width: 300px;
    height: 325px;
    margin-bottom: 80px;
    margin-left: 80px;
}

.document-card {
    position: relative;
    background-color: #fff;
    width: 100%;
    height: 100%;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    text-align: left;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.quantity-container{
    display: flex;
    justify-content: space-between;
}

.q-1, .q-2{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 43px;
    height: 43px;
    border: 2px solid #52B4DE;
    border-radius: 5px;
}

.q-3, .q-4{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 43px;
    height: 43px;
    border: 2px solid #21D090;
    border-radius: 5px;
}

.container-button-and-arrow{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}

.document-card-shadow {
    position: absolute;
    top: -15px;
    left: 35px;
    width: 95%;
    height: 95%;
    padding: 9px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
    z-index: 0;

}

.b-1, .b-2 {
    align-self: flex-end;
    padding: 10px 20px;
    background-color: #fff;
    color: #000;
    border: 2px solid #52B4DE;
    border-radius: 100px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); /* Добавляет тень снизу */
    font-size: 16px;
}

.b-3, .b-4 {
    align-self: flex-end;
    padding: 10px 20px;
    background-color: #21D090;
    color: #fff;
    border: none;
    border-radius: 100px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); /* Добавляет тень снизу */
    font-size: 16px;
}


/* hover 1*/

.dcc-1 .dc-1,
.dcc-1 .dcs-1 {
    transition: box-shadow 0.5s, border 0.1ms, transform 0.5s ease-in-out;
}

.dcc-1:hover {
    transition: 0.5s ease-in-out;
    transform: translateY(-5px);

        .dc-1{
            box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
            border: 2px solid #52B4DE;
        } 

        .dcs-1{
            border: 2px solid #52B4DE;
            transform: rotate(2deg);
        }
} 


.b-1:hover {
    transition: 0.3s;
    background-color: #52B4DE;
    color: #fff;
    /* padding: 13px 23px; */
}

/* hover 2 */

.a-2{
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;
}


.dcc-2 .dc-2,
.dcc-2 .dcs-2 {
    transition: box-shadow 0.5s, border 0.1ms, transform 0.5s ease-in-out;
}

.dcc-2:hover {
    transition: 0.5s ease-in-out;
    transform: translateY(-10px);

        .dc-2{
            box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
            border: 2px solid #52B4DE;
        } 

        .dcs-2{
            border: 2px solid #52B4DE;
        }
        .a-2{
            visibility: visible;
            opacity: 1;
        }
} 


.b-2:hover {
    transition: 0.3s;
    background-color: #52B4DE;
    color: #fff;
}

/* hover 3*/

.dcc-3 .dc-3,
.dcc-3 .dcs-3 {
    transition: box-shadow 0.5s, border 0.1ms, transform 0.5s ease-in-out;
}

.dcc-3:hover {
    transition: 0.5s ease-in-out;
    transform: translateY(-5px);

        .dc-3{
            box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
            border: 2px solid #21D090;
        } 

        .dcs-3{
            border: 2px solid #21D090;
            transform: rotate(2deg);
        }
}

/* hover 4 */

.a-4{
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;
}


.dcc-4 .dc-4,
.dcc-4 .dcs-4 {
    transition: box-shadow 0.5s, border 0.1ms, transform 0.5s ease-in-out;
}

.dcc-4:hover {
    transition: 0.5s ease-in-out;
    /* transform: translateY(-3px); */

        .dc-4{
            box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
            border: 2px solid #21D090;
        } 

        .dcs-4{
            border: 2px solid #21D090;
        }
        .a-4{
            visibility: visible;
            opacity: 1;
        }
} 

