body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
}

a{
    text-decoration: none;
    color: inherit;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background-color: #1e2a38;
    padding: 15px 0;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

header nav ul li {
    margin-right: 20px;
}

header nav ul li a {
    color: #ffffff;
    text-decoration: none;
}

header .header-buttons {
    display: flex;
}

header .header-buttons button {
    margin-left: 10px;
    padding: 10px 20px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

header .header-buttons button:nth-child(2) {
    background-color: #00bcd4;
}

.breadcrumb {
    margin: 20px 0;
    color: #666;
}

.breadcrumb a {
    color: #007bff;
    text-decoration: none;
}

.breadcrumb a:hover {
    text-decoration: underline;
}

main h1 {
    text-align: center;
    margin-bottom: 20px;
}

.document-card h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.arrow {
    position: absolute;
    bottom: 20px;
    left: 20px;
    font-size: 1.5em;
    color: #00bcd4;
}


.document-card-container {
    position: relative;
    width: 300px;
    height: 325px;
    margin-bottom: 80px;
    margin-left: 80px;
}

.document-card {
    position: relative;
    background-color: #fff;
    width: 100%;
    height: 100%;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    text-align: left;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.document-card-container:hover {
    transition: 0.5s;
    transform: translateY(-10px);
    
    .document-card{
        box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
    }
}


.document-card-shadow {
    position: absolute;
    top: -10px;
    left: 50px;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
    z-index: 0;
}

.document-card p {
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;
    flex-grow: 1;
}

.document-card button {
    align-self: flex-end;
    padding: 10px 20px;
    background-color: #fff;
    color: #000;
    border: 2px solid #21D090;
    border-radius: 100px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); /* Добавляет тень снизу */
    font-size: 16px;
}
.document-card button:hover {
    transition: 0.3s;
    background-color: #21D090;
    color: #fff;
    /* border: 2px solid #ffffff; */
}

.quantity-container{
    display: flex;
    justify-content: space-between;
}

.quantity{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 43px;
    height: 43px;
    border: 2px solid #21D090;
    border-radius: 5px;
}

/*онлайн-рофл-точка-ком*/

